<div class="animation-page">
    <div class="ui-g">
        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
            <div style="text-align:center;">
                <h1>{{title}}</h1>
            </div>

            <div style="text-align:center;">

                <div class="ui-g-6" style="color: #007ad9;text-align: right">
                    <em class="pi pi-circle-on">คอร์สปกติ</em>
                </div>

                <div class="ui-g-6" style="color: #e68a00;text-align: left">
                    <em class="pi pi-circle-on">คอร์สนอกเวลา</em>
                </div>


            </div>
            <br>
            <div class="line"></div>
            <div class="container">
                <ng-container></ng-container>

                <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>

            </div>
        </div>
    </div>
</div>