temple-fontend/node_modules/
temple-backend/target/
temple-backend/.classpath
temple-backend/.project
temple-backend/.settings/
temple-backend/.sts4-cache/
temple-fontend/dist/
temple-fontend/.vscode/
temple-backend/.idea/
temple-backend/demo/
temple-backend/.sts4-cache
.metadata/
.recommenders/
.sonarlint/
RemoteSystemsTempFiles/
temple-backend/bin
temple-backend/TempleAPI.iml
