temple-fontend/node_modules/
temple-backend/target/
temple-backend/.classpath
temple-backend/.project
temple-backend/.settings/
temple-backend/.sts4-cache/
temple-fontend/dist/
temple-fontend/.vscode/
temple-backend/.idea/
temple-backend/demo/
.idea/
temple-backend/TempleAPI.iml
temple-backend/.mvn/.mvn.iml
temple-backend/src/main/main.iml
temple-backend/src/test/test.iml
