<ngx-spinner></ngx-spinner>
<div class="animation-page">
  <div class="ui-fluid">
    <div class="container">
      <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
        <div class="row">
          <div class="ui-g-12 ui-lg-5 ui-md-7 ui-sm-12 horizontal-center">
            <p-card>

              <form [formGroup]="form" (submit)="onSubmit($event)">
                <img class="login-logo" src="./assets/images/logo.png" />
                <h1 style="text-align: center;font-size: 35px;">รีเซ็ตรหัสผ่าน</h1>
                <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                  <span *ngIf="!formError.username">ชื่อผู้ใช้*</span>
                  <span *ngIf="formError.username" style="color: red;">{{formError.username}}</span>
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">
                      <fa-icon [icon]="['fas', 'user']"></fa-icon>
                    </span>
                    <input type="text" pInputText id="username" formControlName="username" name="username"
                      placeholder="ชื่อผู้ใช้" />
                  </div>
                </div>
                <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                  <span *ngIf="!formError.idCard">เลขประจำตัวประชาชน*</span>
                  <span *ngIf="formError.idCard" style="color: red;">{{formError.idCard}}</span>
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">
                      <fa-icon [icon]="['fas', 'at']"></fa-icon>
                    </span>
                    <p-inputMask mask="9-9999-99999-99-9" placeholder="9-9999-99999-99-9" formControlName="idCard"
                      placeholder="เลขประจำตัวประชาชน"></p-inputMask>
                  </div>
                </div>
                <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                  <span *ngIf="!formError.phoneNumber">เบอร์โทรศัพท์*</span>
                  <span *ngIf="formError.phoneNumber" style="color: red;">{{formError.phoneNumber}}</span>
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">
                      <i class="pi pi-mobile"></i>
                    </span>
                    <p-inputMask mask="999-999-9999" placeholder="099-999-9999" formControlName="phoneNumber">
                    </p-inputMask>
                  </div>
                </div>

                <button type="submit" class="btn-sign-in btn-color-warning btn-scale">
                  <i class="pi pi-angle-double-right"></i> <span style="vertical-align: top;">ดำเนินการต่อ</span>
                </button>
                <div style="margin-top: 7px;"></div>
                <button type="button" class="btn-sign-up btn-scale" routerLink="/auth/login">
                  <i class="pi pi-angle-double-left"></i>
                  <span style="vertical-align: top;">กลับหน้าเข้าสู่ระบบ</span>
                </button>
              </form>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-toast position="center" key="alert" [modal]="true" [baseZIndex]="99999">
    <ng-template let-message pTemplate="message">
      <div style="text-align: center">
        <i *ngIf="(message.severity == 'success')" class="pi pi-check" style="font-size: 3em"></i>
        <i *ngIf="(message.severity == 'error')" class="pi pi-times" style="font-size: 3em"></i>
        <i *ngIf="(message.severity == 'warn')" class="pi pi-info-circle" style="font-size: 3em"></i>
        <h3>{{message.summary}}</h3>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <button *ngIf="(message.severity == 'error') || (message.severity == 'warn')" type="button" autofocus pButton
            (click)="onConfirm()" label="ปิด" class="ui-button-success ui-button-raised"></button>
          <button *ngIf="(message.severity == 'success')" type="button" autofocus pButton (click)="onConfirm()"
            label="ดำเนินการต่อ" [routerLink]="['/auth/re-password']"
            class="ui-button-success ui-button-raised"></button>
        </div>
      </div>
    </ng-template>
  </p-toast>
</div>