button{
    margin-right: 5mm;
    margin-top: 1mm;
}

label{
    margin-bottom: 1mm;
}


:host>>>.ui-card-header {
    text-align: center;
    font-size: 4em;
}

:host>>>.ui-card-content {
    display: flex;
}

.btn-sign-up {
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 7px;
    background-color: #dcdcdc;
    border-radius: 5px;
    margin-top: 10px;
    color: #b8860b;
    -webkit-box-shadow: -5px 9px 12px -14px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: -5px 9px 12px -14px rgba(0, 0, 0, 0.68);
    box-shadow: -5px 9px 12px -14px rgba(0, 0, 0, 0.68);
  }
  .btn-sign-in {
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
    -webkit-box-shadow: -5px 9px 12px -14px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: -5px 9px 12px -14px rgba(0, 0, 0, 0.68);
    box-shadow: -5px 9px 12px -14px rgba(0, 0, 0, 0.68);
  }
  