.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #b8860b;
  box-shadow: 0px 0px 5px 0px #000;
  display: flex;
  flex-wrap: wrap;
  z-index: 9999;
  opacity: 1;
}

.top-bar .banner img {
  height: 80px;
  vertical-align: middle;
  line-height: 80px;
}

.top-bar .title span {
  vertical-align: middle;
  line-height: 80px;
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.logout-menu{
    width: 2em;
    vertical-align: middle;
}

.top-menu {
    line-height: 80px;
    margin: 0 0 0 auto;
    cursor: pointer;
    padding: 0 10px;
}

.top-menu:hover {
    background-color: #d3a842
}
@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 520px) {
  .top-bar {
    height: 80px;
  }

  .top-bar .banner img {
    height: 80px;
  }

  .top-bar .title span {
    display: none;
  }
}
