<div class="top-bar">
    <div class="banner">
        <a routerLink="/"><img class="logo-btn" src="./assets/images/logo.png" /></a>
    </div>
    <div class="title">
        <span style="color:whitesmoke;">ระบบรับสมัครอบรมธรรมะ วัดป่าโสมพนัส</span>
    </div>
    <span  class="top-menu" *ngIf="isLoggedIn && userData">
        <span style="color:whitesmoke;">
            <span  [routerLink]="['/profile',userData?.id]" class="right-header-btn" >
                <img class="user-img" src="data:image/png;base64,{{userData?.img}}" *ngIf="userData?.img">
                <img class="user-img" src="./assets/images/no-img.png" *ngIf="!userData?.img">
                &nbsp;
                <span class="text-menu">{{userData?.titleName}}{{userData?.fname}} {{userData?.lname}}</span>
            </span >

            <span class="right-header-btn" (click)="logout()">
                <img class=" logout-menu" src="./assets/images/logout.png" (click)="logout()">
                <span class="text-menu">ออกจากระบบ</span>
            </span>
        </span>
    </span>
</div>