<ngx-spinner></ngx-spinner>
<div class="ui-fluid">
  <div class="container">
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
      <div class="row">
        <div class="ui-g-12 ui-lg-5 ui-md-7 ui-sm-12 horizontal-center">
          <p-card>
            <p-header>เปลี่ยนรหัสผ่านใหม่</p-header>
            <form [formGroup]="form" (submit)="onSubmit($event)">
              <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                <span *ngIf="!formError.password">รหัสผ่าน*</span>
                <span *ngIf="formError.password" style="color: red;">{{formError.password}}</span>
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">
                    <i class="pi pi-lock"></i>
                  </span>
                  <input type="password" pPassword placeholder="รหัสผ่านใหม่" formControlName="password" autocomplete="off"
                    promptLabel="กรุณากรอกรหัสผ่าน" />
                </div>
              </div>
              <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                <span *ngIf="!formError.rePassword">ยืนยันรหัสผ่าน*</span>
                <span *ngIf="formError.rePassword" style="color: red;">{{formError.rePassword}}</span>
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">
                    <i class="pi pi-lock"></i>
                  </span>
                  <input type="password" pPassword placeholder="ยืนยันรหัสผ่าน" formControlName="rePassword"
                    promptLabel="กรุณายืนยันรหัสผ่าน" />
                </div>
              </div>
              <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                <p-message *ngIf="form.get('password').value != form.get('rePassword').value &&
                form.get('rePassword').touched" severity="error" text="รหัสผ่านไม่ตรงกัน"></p-message>
              </div>
              <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                <button pButton type="submit" label="เปลี่ยนรหัสผ่าน" icon="pi pi-refresh"
                  class="ui-button-warning ui-button-raised"></button>
              </div>
            </form>
          </p-card>
        </div>
      </div>
    </div>
  </div>
  <p-toast position="center" key="alert" [modal]="true" [baseZIndex]="99999">
    <ng-template let-message pTemplate="message">
      <div style="text-align: center">
        <i *ngIf="(message.severity == 'success')" class="pi pi-check" style="font-size: 3em"></i>
        <i *ngIf="(message.severity == 'error')" class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
        <i *ngIf="(message.severity == 'warn')" class="pi pi-info-circle" style="font-size: 3em"></i>
        <h3>{{message.summary}}</h3>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <button *ngIf="(message.severity == 'success')" type="button" autofocus pButton (click)="onConfirm()"
            label="กลับหน้าเข้าสู่ระบบ" [routerLink]="['/']" class="ui-button-success ui-button-raised"></button>
          <button *ngIf="!(message.severity == 'success')" type="button" autofocus pButton (click)="onConfirm()"
            label="ปิด" class="ui-button-success ui-button-raised"></button>
        </div>
      </div>
    </ng-template>
  </p-toast>
</div>