.menu {
    margin: 15%;
}

.wrapper-menu {
    // padding: 0.1vw;
    width: 100%;
}

.menu-card {
    display: block;
    background: #cdaa54;
    cursor: pointer;
    border-radius: 10px;
}

.menu-card:hover {
    background: #b8860b;
    border-color: #b8860b;
}

.img-menu {
    width: 5em;
}

.text-center {
    vertical-align: middle;
    text-align: left;
    height: 70px;
    line-height: 90px;
}

@media only screen and (min-width: 640px) {
    .img-menu {
        display: block;
        margin-left: auto;
        margin-right: auto;
        // margin-top: 10px;
    }

    .text-center {
        text-align: center;
        height: 10px;
        line-height: 30px;
    }
}

@media screen and (max-width: 768px) {
    
}
h2  {
    margin-top: 0;
    margin-bottom: 0;
  }

.set-high{
    height: 66px;
}
i{
    font-size: 3em
}
.boldAndBig {
    font-size: 1.2em;
    font: bold;
}.container-header{
    line-height: 1.22;
}
span{
	// display:inline-block;
    vertical-align:top;
	padding:0 0 0 5px;
}
