<div class="ui-g">
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
        <div style="text-align: center">
            <h1>ตารางคอร์สนอกเวลา</h1>
        </div>
        <div class="line"></div>
        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
            <p-toast [style]="{marginTop: '80px'}"></p-toast>
            <p-tabView>
                <p-tabPanel header="คอร์สที่สามารถสมัครได้">
                    <p-table #tb1 [columns]="cols" [value]="courses" [paginator]="true" [rows]="5" [responsive]="true">
                        <!-- [lazy]="true" (onLazyLoad)="loadDataCanRegis($event)" [totalRecords]="totalRecords" [loading]="loading"> -->
                        <ng-template pTemplate="caption">
                            <div class="ui-g ui-fluid">
                                <div class="ui-g-12 ui-lg-3 ui-md-3 ui-sm-12" style="margin-left: auto;">
                                    <div class="ui-inputgroup">
                                        <fa-icon [icon]="['fas', 'search']" class="ui-inputgroup-addon"></fa-icon>
                                        <input type="text" pInputText placeholder="ค้นหา"
                                            (input)="tb1.filterGlobal($event.target.value, 'contains')">
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th pSortableColumn="date">
                                    วันที่
                                    <p-sortIcon field="date" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="name" class="ui-p-4">
                                    ชื่อคอร์ส
                                    <p-sortIcon field="name" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="location" class="ui-p-5">
                                    สถานที่
                                    <p-sortIcon field="location" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="conditionMin" class="ui-p-6">
                                    หมายเหตุ
                                    <p-sortIcon field="conditionMin" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                                <th>

                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns;">
                                    <div>
                                        <span class="ui-column-title">{{col.header}}</span>
                                        <div *ngIf="col.field == 'stDate'" style="text-align: center">
                                            {{rowData['stDate'] | date}} -
                                            {{rowData['endDate'] | date}}</div>
                                        <div *ngIf="col.field == 'conditionMin'">
                                            ผ่านการเรียนอย่างน้อย {{rowData['conditionMin']}} คอร์ส
                                        </div>
                                        <div *ngIf="col.field != 'stDate'&&col.field != 'conditionMin'">
                                            {{rowData[col.field]}}
                                        </div>
                                    </div>

                                </td>
                                <td style="text-align: center">
                                    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                                        <button pButton type="button" label="สมัครคอร์สนอกเวลา"
                                            (click)="showDisplay(rowData['id'])"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="คอร์สที่รอการอนุมัติ">
                    <p-table #tb2 [columns]="cols" [value]="specialApproveWait" [paginator]="true" [rows]="5"
                        [responsive]="true">
                        <!-- [lazy]="true" (onLazyLoad)="loadDataCanRegis($event)" [totalRecords]="totalRecords" [loading]="loading"> -->
                        <ng-template pTemplate="caption">
                            <div class="ui-g ui-fluid">
                                <div class="ui-g-12 ui-lg-3 ui-md-3 ui-sm-12" style="margin-left: auto;">
                                    <div class="ui-inputgroup">
                                        <fa-icon [icon]="['fas', 'search']" class="ui-inputgroup-addon"></fa-icon>
                                        <input type="text" pInputText placeholder="ค้นหา"
                                            (input)="tb2.filterGlobal($event.target.value, 'contains')">
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th pSortableColumn="date">
                                    วันที่
                                    <p-sortIcon field="date" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="name" class="ui-p-4">
                                    ชื่อคอร์ส
                                    <p-sortIcon field="name" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="location" class="ui-p-5">
                                    สถานที่
                                    <p-sortIcon field="location" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="conditionMin" class="ui-p-6">
                                    หมายเหตุ
                                    <p-sortIcon field="conditionMin" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                                <th>

                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns;">
                                    <div>
                                        <span class="ui-column-title">{{col.header}}</span>
                                        <div *ngIf="col.field == 'stDate'" style="text-align: center">
                                            {{rowData['stDate'] | date}} -
                                            {{rowData['endDate'] | date}}</div>
                                        <div *ngIf="col.field == 'conditionMin'">
                                            ผ่านการเรียนอย่างน้อย {{rowData['conditionMin']}} คอร์ส
                                        </div>
                                        <div *ngIf="col.field != 'stDate'&&col.field != 'conditionMin'">
                                            {{rowData[col.field]}}
                                        </div>
                                    </div>

                                </td>
                                <td style="text-align: center">
                                    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                                        <button pButton type="button" label="ยกเลิกการขออนุมัติ"
                                            (click)="cancelApprove(rowData['id'])" class="ui-button-danger"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="คอร์สที่ทำการอนุมัติแล้ว">
                    <p-table #tb3 [columns]="cols" [value]="specialApproveSuccess" [paginator]="true" [rows]="5"
                        [responsive]="true">
                        <!-- [lazy]="true" (onLazyLoad)="loadDataCanRegis($event)" [totalRecords]="totalRecords" [loading]="loading"> -->
                        <ng-template pTemplate="caption">
                            <div class="ui-g ui-fluid">
                                <div class="ui-g-12 ui-lg-3 ui-md-3 ui-sm-12" style="margin-left: auto;">
                                    <div class="ui-inputgroup">
                                        <fa-icon [icon]="['fas', 'search']" class="ui-inputgroup-addon"></fa-icon>
                                        <input type="text" pInputText placeholder="ค้นหา"
                                            (input)="tb3.filterGlobal($event.target.value, 'contains')">
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th pSortableColumn="date">
                                    วันที่
                                    <p-sortIcon field="date" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="name" class="ui-p-4">
                                    ชื่อคอร์ส
                                    <p-sortIcon field="name" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="location" class="ui-p-5">
                                    สถานที่
                                    <p-sortIcon field="location" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                                <th pSortableColumn="conditionMin" class="ui-p-6">
                                    หมายเหตุ
                                    <p-sortIcon field="conditionMin" ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                                    </p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns;">
                                    <div>
                                        <span class="ui-column-title">{{col.header}}</span>
                                        <div *ngIf="col.field == 'stDate'" style="text-align: center">
                                            {{rowData['stDate'] | date}} -
                                            {{rowData['endDate'] | date}}</div>
                                        <div *ngIf="col.field == 'conditionMin'">
                                            ผ่านการเรียนอย่างน้อย {{rowData['conditionMin']}} คอร์ส
                                        </div>
                                        <div *ngIf="col.field != 'stDate'&&col.field != 'conditionMin'">
                                            {{rowData[col.field]}}
                                        </div>
                                    </div>

                                </td>
                                <!-- <td style="text-align: center">
                            <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                                <button pButton type="button" label="ยกเลิกการขออนุมัติ" (click)="cancelApprove(rowData['id'])" 
                                    class="button-cancel"></button>
                            </div>
                        </td> -->
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>

<!-- <p-dialog header="แบบฟอร์มการขออนุมัติคอร์สนอกเวลา" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
    [modal]="true" [style]="{width: ''}" [contentStyle]="{'max-height':'450px'}"> -->
    <p-dialog header="แบบฟอร์มการขออนุมัติคอร์สนอกเวลา" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
    [modal]="true"  [style]="{width: '700px'}" positionTop="100"
    [contentStyle]="{'max-height':'500px'}"> 
    <form [formGroup]="formOutTime" (submit)="assignCourseOutTime()">
           
        <div class="ui-g form-input" >
            <div class="ui-g-4 " >
                <span>คำร้องขออนุมัติคอร์สนอกเวลา<span class="star">*</span></span>
            </div>
            <div class="ui-g-8">
                <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" formControlName="detail"></textarea>
            </div>
            <!-- <div class="ui-g-12">
                <p-message severity="error" text="กรุณากรอกคำร้องขอ" 
                *ngIf="!formOutTime.controls['detail'].valid&&formOutTime.controls['detail'].dirty"></p-message>
            </div> -->
            <div class="ui-g-4">
                <span>วันที่เรียน<span class="star">*</span></span>
            </div>
            <div class="ui-g-8">
                <!-- <p-calendar class="calendar-button" dateFormat="dd/mm/yy" [monthNavigator]="true" formControlName="date"
                selectionMode="range" [readonlyInput]="true" [yearNavigator]="true" > <!-- [yearRange]="yearRange" -->
                <!-- </p-calendar> -->
                <p-calendar cdgsThaiCalendar formControlName="date" [monthNavigator]="true" selectionMode="range"
                [readonlyInput]="true" [yearNavigator]="true" [showIcon]="true" dateFormat="dd/mm/yy" yearRange="{{year}}: {{year+10}}">
                </p-calendar>
            </div>
            <!-- <div class="ui-g-12">
                <p-message severity="error" text="กรุณาเลือกวันที่เรียน" 
                *ngIf="!formOutTime.controls['date'].valid"></p-message>
            </div> -->
            <div class="ui-g-4">
                <span>การเดินทางมาที่วัด<span class="star">*</span></span>
            </div>
            <div class="ui-g-8">
                <!-- <p-dropdown [options]="transportations" optionLabel="name" value="tranId" 
                    placeholder="กรุณาเลือกการเดินทาง" filter="true" formControlName="tranId">
                </p-dropdown> -->
                <p-autoComplete formControlName="tranId" placeholder="กรุณาเลือกการเดินทาง"
                    [suggestions]="filteredTransportation" value="tranId"
                    (completeMethod)="filterTransportationMultiple($event)" [minLength]="1" field="name"
                    [dropdown]="true">
                </p-autoComplete>
            </div>
            <!-- <div class="ui-g-4 "> -->
                <!-- <p-message severity="error" text="กรุณาเลือกการเดินทาง" 
                *ngIf="!formOutTime.controls['tranId'].valid"></p-message> -->
            <!-- </div> -->
            <div class="ui-g-4">
                <span>ประสบการณ์ที่ผ่านมา<span class="star">*</span></span>
            </div>
            <div class="ui-g-8">
                <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize"
                    formControlName="expected"></textarea>
            </div>
            <div class="ui-g-4">
                <span>ประสบการณ์ที่คาดว่าจะได้รับ<span class="star">*</span></span>
            </div>
            <div class="ui-g-8">
                <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize"
                    formControlName="experience"></textarea>
            </div>
        </div>
        <p-footer>
            <div class="ui-g-12 ">
                <div class="ui-g-12"  style="text-align: right">
                    <button type="submit" pButton label="ยืนยัน" class="ui-button-raised ui-button-info"
                        [disabled]="!formOutTime.valid"></button>
                    <button type="button" pButton (click)="displayDialog=false" label="ยกเลิก"
                        class="ui-button-raised ui-button-secondary"></button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>
<p-confirmDialog [style]="{width: '50vw'}" #cd acceptButtonStyleClass="button-submit">
    <p-footer>
        <button type="button" pButton label="ยืนยัน" (click)="cd.accept()"
            class="ui-button-raised ui-button-info"></button>
        <button type="button" pButton label="ยกเลิก" (click)="cd.reject()"
            class="ui-button-raised ui-button-secondary"></button>
    </p-footer>
</p-confirmDialog>
<!-- <p-confirmDialog [style]="{width: '50vw'}" acceptButtonStyleClass="button-submit" 
    acceptLabel="ยืนยัน" rejectButtonStyleClass="button-cancel" 
    rejectLabel="ยกเลิก"></p-confirmDialog> -->