.layout-footer {
  margin-top: 30px;
  background-color: #cdaa54;
  width: 100%;
  position: static;
  display: inline-block;
  vertical-align: top;
  min-height: 100px;
}


.layout-wrapper {
  display: block;
  min-height: calc(100% - 138px);
  height: auto !important;
}
