.text-info {
    text-align: right;
    color: #000000 !important;
  }

  .text-danger.text-invalid {
    color: red !important;
    text-align: right;
}
.star{
  color: red;
}
:host>>>button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only {
  background-color: #b8860b;
  border: #b8860b;
  border-radius: 3px;
}
