.bgTable1{
    background-color: #bba86d !important;

}
.bgTable2{
    background-color: #95733a !important;

}
.bgTable3{
    background-color: #7f4c32 !important;

}
.bgTable4{
    background-color: #af3e29 !important;
}
