.bgTable1{
    background-color: #F7F7F8 !important;

}
.bgTable2{
    background-color: rgb(236, 238, 240) !important;

}
.bgTable3{
    background-color: #F7F7F8 !important;

}
.bgTable4{
    background-color: rgb(236, 238, 240) !important;
}
