<div class="ui-g">
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
        <div style="text-align:center">
            <h1>คำนำหน้า</h1>
        </div>
        <div class="line"></div>
        <br>
        <div class="container">
            <div class="row">
                <div class="ui-g">
                    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                        <p-toast [style]="{marginTop: '80px'}"></p-toast>                   
                    </div>
                    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">

                        <p-table [columns]="cols" [value]="titleNames" [paginator]="true" [rows]="5" [responsive]="true">
                            <ng-template pTemplate="caption">
                                <div style="text-align:left">
                                    <button pButton type="button" (click)="showDialogToAdd()" label="เพิ่ม" class="ui-button-info" style="width: 20%"></button>
                                </div>

                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th pSortableColumn="display">
                                            คำนำหน้า (ตัวเต็ม)
                                        <p-sortIcon field="display" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="name">
                                            คำนำหน้า (ตัวย่อ)
                                        <p-sortIcon field="name" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                                        </p-sortIcon>
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                    <td *ngFor="let col of columns;">
                                        <div style="text-align: center">{{rowData[col.field]}}</div>
                                    </td>
                                    <td>
                                        <div style="text-align:center">
                                            <button pButton type="button" label="แก้ไข" (click)="setEditForm(rowData['id'])" class="ui-button-warning ui-button-raised" style="width: 40%;"></button>
                                            <button pButton type="button" label="ลบ" (click)="delete(rowData['id'])" class="ui-button-danger" style="width: 40%;margin-left: 5mm"></button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-dialog (onHide)="clear()" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '300px'}">
        <p-header *ngIf="newtitleName">
            เพิ่มข้อมูลคำนำหน้าชื่อ
        </p-header>
        <p-header *ngIf="!newtitleName">
            แก้ไขข้อมูลคำนำหน้าชื่อ
        </p-header>
        <div class="ui-g ui-fluid">
            <div [formGroup] = "titlesForm" >
                <div *ngIf="duplicateTitle" class="text-danger text-invalid" style="color: red">คำนำหน้าชื่อมีอยู่แล้ว</div>
                <div class="ui-g-12">
                    <div class="ui-g-4 " *ngIf="!formError.titleName" style="text-align: right;">
                        <label for="titleName">คำนำหน้า<span class="star">*</span></label>
                    </div>
                    <div class="ui-g-4 text-danger text-invalid" *ngIf="formError.titleName" >
                            <label for="titleName" >{{formError.titleName}}</label>
                        </div>
                    <div class="ui-g-8">
                        <input pInputText  id="titleName" formControlName="titleName" #titleName/>
                        <div class="text-danger text-invalid">
                            <label>{{formLengthError.titleName}}</label>
                        </div>
                    </div>
                    <div class="ui-g-4 " *ngIf="!formError.titleNameDisplay" style="text-align: right;">
                        <label for="titleNameDisplay">คำย่อ<span class="star">*</span></label>
                    </div>
                    <div class="ui-g-4 text-danger text-invalid" *ngIf="formError.titleNameDisplay">
                            <label for="titleNameDisplay">{{formError.titleNameDisplay}}</label>
                        </div>
                    <div class="ui-g-8">
                        <input pInputText id="titleNameDisplay" formControlName="titleNameDisplay" />
                        <div class="text-danger text-invalid">
                            <label>{{formLengthError.titleNameDisplay}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button *ngIf="newtitleName" type="button" pButton (click)="save()" label="บันทึก" [disabled]="titleName !== null && titleName !== ''"></button>
                <button *ngIf="!newtitleName" type="button" class="ui-button-warning ui-button-raised" pButton (click)="update()" label="แก้ไข"></button>
                <button type="button" pButton (click)="clear()" label="ยกเลิก" class="ui-button-secondary ui-button-raised"></button>
            </div>
        </p-footer>
    </p-dialog>

    <p-confirmDialog #cd [style]="{width: '50vw'}">
        <p-footer>
            <button type="button" pButton label="ยืนยัน" (click)="cd.accept()"></button>
            <button type="button" pButton label="ยกเลิก" (click)="cd.reject()" class="ui-button-secondary ui-button-raised"></button>
        </p-footer>
    </p-confirmDialog>