
a.list-menu {
    width: 100%;
    height: 70px;
    display: block;
    padding: 20px 0 0 25px;
    cursor: pointer;
    border-top: 1px solid #e3e9ea;
    box-sizing: border-box;
}

a.list-menu:hover {
    background-color: #eee;
    transition: all .5s ease;
    text-decoration: none;
}

a.list-menu span {
    color: #34393a;
    font-size: 16px;
    display: block;
}

a.active-menuitem>span {
    color: #1b82d7;
}

:host>>>.ui-sidebar-left {
    top: 80px !important;
    height: calc(100% - 80px) !important;
    padding: 0 !important;
}

:host>>>.ui-sidebar-left.ui-sidebar-sm, .ui-sidebar-right.ui-sidebar-sm {
    width: 300px !important;
}

@media screen and (max-width:1024px) {
    :host>>>.ui-sidebar-left {
        top: 95px !important;
        height: calc(100% - 95px) !important;
    }
}

@media screen and (max-width:520px) {
    :host>>>.ui-sidebar-left {
        top: 80px !important;
        height: calc(100% - 80px) !important;
    }
}