<div class="animation-page">
  <div class="ui-g">
    <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
      <div style="text-align:center">
        <h1>อนุมัติการผ่านหลักสูตร</h1>
        <div *ngIf="totalRecords == 0">( ไม่มีคอร์สที่ต้องอนุมัติผ่านหลักสูตร )</div>
      </div>
      <div class="line"></div>
      <div class="container">
        <div class="ui-g">
          <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
            <p-table #dt [columns]="cols" [value]="courses" [paginator]="true" [rows]="5" [responsive]="true"
              selectionMode="single" [(selection)]="selectedCourse" (onRowSelect)="onRowSelect($event)" [lazy]="true"
              (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [loading]="loading">
              <ng-template pTemplate="caption">
                <div class="ui-g ui-fluid">
                  <div class="ui-g-12 ui-lg-3 ui-md-3 ui-sm-12" style="margin-left: auto;">
                    <div class="ui-inputgroup">
                      <fa-icon [icon]="['fas', 'search']" class="ui-inputgroup-addon"></fa-icon>
                      <input type="text" pInputText placeholder="ค้นหา"
                        (input)="dt.filterGlobal($event.target.value, 'contains')">
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th>
                    ชื่อคอร์ส
                  </th>
                  <th>
                    รายละเอียด
                  </th>
                  <th>
                    จำนวนนักเรียน
                  </th>
                  <th >
                    ประเภทคอร์ส
                    
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <td>
                    {{(rowData?.name)? rowData.name : '-'}}
                  </td>
                  <td>
                    {{(rowData?.detail)? rowData.detail : '-'}}
                  </td>
                  <td>
                    {{(rowData?.numberOfMembers)? rowData.numberOfMembers : '-' }}
                  </td>
                  <td>
                    {{(rowData?.courseStatus === '0')? 'คอร์สนอกเวลา' : 'คอร์สปกติ' }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>