button {
  margin-right: 5mm;
  margin-top: 1mm;
}

label {
  margin-bottom: 2mm;
}

:host >>> .ui-card-header {
  text-align: center;
  font-size: 4em;
}

:host >>> .ui-card-content {
  display: flex;
}
.text-danger {
  color: rgb(238, 12, 12);
}
.login-logo {
  width:200px;
  height: 200;
  display: block;
 margin: auto;
}

.login-header-text {
  margin-top: 20px;
}
