<p-dialog header="เหตุผลการไม่อนุมัติ" [(visible)]="display" [responsive]="true" showEffect="fade" [modal]="true"
  [style]="{width: '700px'}" positionTop="100" [contentStyle]="{'max-height':'500px'}" (onHide)="onClose()">
  <div class="ui-g">
    <div class="ui-g-4">
      <span>เหตุผลที่ไม่อนุมัติ</span>
    </div>
    <div class="ui-g-8">
      <textarea pInputTextarea rows="5" cols="30" autoResize="autoResize" placeholder="รายละเอียด" #rejectComment
        maxlength="255"></textarea></div>
  </div>
  <p-footer>
    <p-button label="ยกเลิก" icon="pi pi-times-circle" styleClass="button-reject " (click)="onClose()">
    </p-button>
    &nbsp;
    <p-button label="ยืนยัน" icon="pi pi-check-circle" styleClass="button-success" (click)="onAccept(rejectComment)"></p-button>

  </p-footer>
</p-dialog>